.offline{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.offline i{
    position: absolute;
    font-size: 320px;
    z-index: 0;
    color: rgba(252, 57, 57, 0.3);
}

.offline h1{
    font-size: 80px;
    text-align: center;
    padding-bottom: 50px;
}

.offline h6{
    font-size: 50px;
    z-index: 10;
    font-weight: 700;
}

@media (max-width: 1200px){
    .offline i{
        font-size: 250px;
    }

    .offline h1{
        font-size: 50px;
    }

    .offline h6{
        font-size: 30px;
    }
}

@media (max-width: 900px){
    .offline i{
        font-size: 200px;
    }

    .offline h1{
        font-size: 40px;
    }

    .offline h6{
        font-size: 20px;
    }
}