.error{
    width: 100%;
    min-height: calc(100dvh - 66px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.error i{
    position: absolute;
    font-size: 320px;
    z-index: 0;
    color: rgba(252, 57, 57, 0.3);
}

.error span{
    font-size: 80px;
    z-index: 10;
    font-weight: 700;
}

@media (max-width: 900px){
    .error i{
        font-size: 250px;
    }

    .error span{
        font-size: 50px;
    }
}