.photo_list{
    margin: 0 90px;
}

.poster_photos{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.poster_photos:hover{
    transform: scale(0.9);
    transition: all 0.5s;
    cursor: pointer;
}

.photos{
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 20px;
}

.photo_title{
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
}


.photos::-webkit-scrollbar{
    height: 10px;
}

.photos::-webkit-scrollbar-track{
    background-color: #504a63;
}

.photos::-webkit-scrollbar-thumb{
    background-color: #30197d;
}

@media (max-width: 600px){
    .poster_photos{
        width: 100%;
        object-fit: cover;
        height: 250px;
    }

    .photos{
        flex-wrap: wrap;
        overflow: visible;
    }
}